.group_content{
    margin-top: 10px;
    overflow: hidden;
}
.group_title{
    img{
        height: 14px;
        width: 14px;
        position: relative;
        top: -1.5px;
    }
    span{
        margin-left: 5px;
    }
}
.group_item{
    width: 32%;
    height: 40px;
    padding-top: 5px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    margin-right: 1%;
    margin-bottom: 4px;
    float: left;
    .date{
        color: #3e3e3e;
        margin-bottom: 2px;
    }
    .price{
        color: #fb605d;
    }
    .more_group{
        line-height: 28px;
        color: #1592e6;
    }
}